<a href="https://colab.research.google.com/github/ashutoshgithubs/Machine-Learning/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Library:
Useful for data processing and analysis


---
## Pandas Data Frame:
It is 2D tabular data structure with labelled axes (row and col)

In [3]:
import pandas as pd

In [ ]:
# Importing the boston house price data ------> Giving error because it has been removed from the sklearn.dataset
from sklearn.datasets import load_boston
boston_dataset = load_boston()
print(boston_dataset)

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

In [10]:
from sklearn.datasets import fetch_california_housing
california_dataset  = fetch_california_housing()
type(california_dataset)
print(california_dataset)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

# Pandas data frame

In [11]:
california_df = pd.DataFrame(california_dataset.data, columns = california_dataset.feature_names)

In [12]:
california_df.head() # it will print first 5 records

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [ ]:
california_df.shape

(20640, 8)

# Importing the data from csv file to pandas data frome

In [5]:
employee_df = pd.read_csv("/content/small_dataset.csv")

In [6]:
employee_df.head()

,ID,Name,Email,Phone,City,State,Country,Age,Salary
0,1,Richard Cochran,teresahart@rodriguez.com,314-083-3595x350,Cynthiahaven,Kentucky,South Africa,56,127052
1,2,Deanna Jenkins,andre72@hotmail.com,6344969849,Port Johntown,New Hampshire,Madagascar,47,155720
2,3,Kristy Marshall,jackjohnson@hotmail.com,086.701.9058,Deborahberg,New York,Burkina Faso,47,167315
3,4,Juan Simon,smithricky@gmail.com,(829)796-8326x9030,Port Stephen,Arizona,Sweden,51,119948
4,5,Phillip Ward,wcooper@yahoo.com,843-791-5327,East Lorifort,New Mexico,Puerto Rico,47,197853

In [7]:
employee_df.shape

(10000, 9)

In [8]:
employee_df.size

90000

Exporting the california dataset to csv file

In [13]:
california_df.to_csv("california_csv")

# Creating the DataFrame with random values

In [14]:
import numpy as np

In [17]:
randData_df = pd.DataFrame(np.random.randint(10,100,(20,30)))

In [19]:
randData_df.head()  # Print 1st five rows of the table

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,74,81,71,67,36,18,80,62,69,75,...,35,26,77,48,51,61,25,87,39,34
1,88,80,96,42,14,43,14,47,39,26,...,92,19,58,12,47,50,15,40,84,45
2,51,27,26,87,65,26,94,36,63,84,...,38,58,94,36,46,45,84,48,63,47
3,83,65,61,63,31,15,56,10,36,21,...,42,51,20,84,91,47,16,74,64,86
4,71,31,95,12,45,65,48,77,31,85,...,52,91,11,61,44,62,62,74,43,99

In [20]:
randData_df.shape

(20, 30)

In [21]:
# Print last 5 rows of the table
randData_df.tail()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
15,65,54,42,40,28,26,37,46,15,12,...,31,28,78,95,22,29,63,97,49,37
16,68,79,16,38,64,25,61,43,48,72,...,27,97,15,53,54,75,47,43,47,18
17,28,89,32,66,29,32,33,28,19,59,...,12,55,77,61,18,53,42,31,93,62
18,84,49,45,17,27,39,47,75,34,14,...,85,68,81,43,19,42,12,57,82,47
19,72,24,72,59,47,22,60,15,80,72,...,43,24,95,26,84,74,94,45,38,38

Information about DataFrame

In [22]:
california_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

Finding the no of missing values in each column

In [23]:
california_df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

Counting the values based on the labels

In [24]:
employee_df.value_counts("Age")

Age
49    222
69    215
70    211
48    208
40    207
37    206
22    205
66    202
30    202
28    202
61    201
64    201
33    200
34    196
50    196
55    195
62    195
27    194
65    193
20    192
41    192
54    191
47    191
39    191
44    191
19    191
36    190
35    189
56    189
26    187
23    186
60    186
24    185
25    185
59    182
45    182
57    181
67    181
32    180
68    179
52    179
31    179
58    178
53    177
46    173
42    172
18    171
51    170
43    170
38    169
29    167
63    165
21    158
Name: count, dtype: int64

Group the value based on the mean values of that label

In [26]:
employee_df.groupby('Age').mean() # Here in employee table string values are there so their mean values can;t be found....so get error....works for integer values..

TypeError: agg function failed [how->mean,dtype->object]